---
import "@styles/global.css";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import featuredImg from "@images/drawers.jpg";
import avatar from "@images/avatar-michelle.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Article preview component</title>
  </head>
  <body class="base-layout">
    <article class="base-layout">
      <Image src={featuredImg} alt={"image of drawers"} class="full-width" />
      <h1 class="bold">
        Shift the overall look and feel by adding these wonderful touches to
        furniture in your home
      </h1>
      <p>
        Ever been in a room and felt like something was missing? Perhaps it felt
        slightly bare and uninviting. I’ve got some simple tips to help you make
        any room feel complete.
      </p>
      <footer class="full-width" data-social="show">
        <div class="author">
          <Image
            src={avatar}
            alt={"author image"}
            width={40}
            class="rounded-full"
          />
          <p>
            <span class="bold">Michelle Appleton</span>
            <br />
            <span class="light">28 Jun 2020</span>
          </p>
        </div>
        <div class="social">
          <p class="uppercase">Share</p>
          <Icon name={"mdi:facebook"} width={"1.25rem"} height={"1.25rem"} />
          <Icon name={"mdi:twitter"} width={"1.25rem"} height={"1.25rem"} />
          <Icon name={"mdi:pinterest"} width={"1.25rem"} height={"1.25rem"} />
        </div>
        <button onclick="toggleSocial()">
          <Icon name="mdi:share-circle" width={"2rem"} height={"2rem"} />
        </button>
      </footer>
    </article>
  </body>

  <script is:inline>
    const toggleSocial = () => {
      const footer = document.querySelector("footer");
      const currentValue = footer.dataset.social;
      // console.log("click");
      // console.log(currentValue);
      footer.dataset.social = currentValue === "hide" ? "show" : "hide";
    };
  </script>

  <style>
    article {
      margin-block-start: 4.625rem;
      overflow: hidden;
      background-color: white;
      border-radius: 0.5rem;

      & h1 {
        margin-block-start: 2.5rem;
        margin-block-end: 1rem;
      }

      & > p {
        margin-block-end: 1rem;
      }

      & img {
        align-self: center;
      }
    }
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
      padding-inline: 2rem;

      & button {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        border-radius: 2rem;
      }
    }

    footer[data-social="hide"] {
      & .author {
        display: flex;
        gap: 1rem;
      }
      & .social {
        display: none;
      }
    }
    footer[data-social="show"] {
      background-color: var(--color-fm-dark-gray-blue);
      padding-block-start: 1.25rem;
      & .author {
        display: none;
      }
      & .social {
        display: flex;
        gap: 1rem;
        color: var(--color-white);
        align-items: center;
        & p {
          color: var(--color-fm-gray-blue);
          letter-spacing: 0.75ch;
          text-transform: uppercase;
        }
      }
      & button {
        color: var(--color-fm-gray-blue);
      }
    }
  </style>
</html>
